<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password reseted on i3sports.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to i3sports.com, <br>
      your username is: <%= @user.email %>.<br>
      and your new password is: <%= @user.password_digest %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>