<center>
	<h1><%= t(:administration_panel) %></h1>
	<br>
	<p><%= link_to t(:admin_users), admin_users_path %></p>
	<p><%= link_to t(:admin_exams), admin_exams_path %></p>
	<p><%= link_to t(:admin_courses), admin_courses_path %></p>
</center>