<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p class="social-media-text">Copyright 2016 i3SPORT.ES</p>
      </div>
      <div class="large-7 columns">
        <section class="top-bar-section">
          <div class="right">
            <div class="menu align-right">
              <span class="fi-social-facebook social-media-icon"></span>
              <span class="fi-social-twitter social-media-icon"></span>
              <span class="fi-social-youtube social-media-icon"></span>
              <span class="fi-social-google-plus social-media-icon"></span>
              <span class="fi-social-linkedin social-media-icon"></span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</footer>