<nav class="top-bar toplogo-background-color" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <%= image_tag "logo-i3-asd.png", class: "logo-separator"%>
    </li>
  </ul>
  <section class="top-bar-section logo-buttons">
    <div class="right">
      <%= show_home %>
      <%= show_logout %>
    </div>
  </section>
</nav>