<nav class="top-bar topbar-background-color" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="contacto@i3sport.es">Mvl. +34 606 784 540 | info@i3sport.es</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <div class="right top-social-media">
      <%= link_to "<span class='fi-social-facebook social-media-icon social-media-top-color'></span>".html_safe, "https://www.facebook.com/i3sport.es/", target: "_blank" %>
      <%= link_to "<span class='fi-social-twitter social-media-icon social-media-top-color'></span>".html_safe, "https://twitter.com/Centroi3sport", target: "_blank" %>
      <%= link_to "<span class='fi-social-youtube social-media-icon social-media-top-color'></span>".html_safe, "https://www.youtube.com/channel/UCBOe46wzhOisT6IVnoejN_w", target: "_blank" %>
      <span class='fi-social-google-plus social-media-icon social-media-top-color'></span>
      <%= link_to "<span class='fi-social-linkedin social-media-icon social-media-top-color'></span>".html_safe, "https://es.linkedin.com/in/pablo-gomez-rubio-8b229546", target: "_blank" %>
    </div>
  </section>
</nav>