<nav class="top-bar topbar-background-color" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Mvl. +34 606 784 540 | info@i3sport.es</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <div class="right">
      <span class="fi-social-facebook social-media-icon social-media-top-color"></span>
      <span class="fi-social-twitter social-media-icon social-media-top-color"></span>
      <span class="fi-social-youtube social-media-icon social-media-top-color"></span>
      <span class="fi-social-google-plus social-media-icon social-media-top-color"></span>
      <span class="fi-social-linkedin social-media-icon social-media-top-color"></span>
    </div>
  </section>
</nav>