<table>
  <tr>
	   <th><%= t(:course) %></th>
	   <th><%= t(:view) %></th>
  </tr>
		<% @purchased_courses.each do |p| %>
		<tr>
		  <td><%= p.name %></td>
		  <td><%= link_to "<center><span class='fi-magnifying-glass'></span></center>".html_safe, user_course_path(p.id) %></td>
		</tr>
		<% end %>
</table>