<table>
  <tr>
	   <th><%= t(:course) %></th>
	   <th><%= t(:view) %></th>
  </tr>
		<% @purchased_courses.each do |p| %>
		<tr>
		  <td><%= p.name %></td>
		  <td>VIEW</td>
		</tr>
		<% end %>
</table>